[prowl]
apikey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
application=MQTT

[mqtt]
broker=localhost
port=1883

# Any number of topics allowed
[topics]
topic1 = test/one
topic2 = twitter/emergency
topic3 = one/two/three/#/five
